@{title('LIST')}

<hr />
<br />
<p class="center">
	This page for list from array.
	<br />
	<b>LIST</b>
	<ul>
		@{foreach item in model}
			<li><a href="/list/@{index}">@{item}</a></li>
		@{end}
	</ul>
</p>
<br />
<br />